@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9f9f9;
	--color-gray-100: #f4f4f4;
	--color-gray-200: #e5e5e5;
	--color-gray-300: #d4d4d4;
	--color-gray-400: #a3a3a3;
	--color-gray-500: #737373;
	--color-gray-600: #525252;
	--color-gray-700: #404040;
	--color-gray-800: #262626;
	--color-gray-900: #171717;
	--color-gray-950: #0a0a0a;

    --color-matrix-bg: #f5f5f5;
    --color-matrix-blue: #0033a0;

	--font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--color-matrix-bg);
    color: var(--color-gray-900);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
}
